option_settings:
  aws:elasticbeanstalk:application:
    Application Healthcheck URL: /api/hello

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced

  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: /api/hello
    MatcherHTTPCode: 200
    Port: 8000
    Protocol: HTTP
